<div class="chg-pwd-panel panel-default" ng-controller="changePasswordController">
    <div class="chg-pwd-title">
        {{translation.title}}
    </div>
    <div class="chg-pwd-body panel-body">
        <form name="frmchangepwd" class="form-changePwd" novalidate method="post">
            <div class="chg-pwd-input row">
                <div class="col-md-2">
                </div>
                <div class="col-md-9 label-message status-msg-fade">
                    <span class="function-success-msg" ng-show="chgPassword.successMsg" ng-bind-html="chgPassword.successMsg"></span>
                    <span ng-class="{'function-msg': true, 'color-red-err': chgPassword.errMsg}" ng-show="chgPassword.errMsg" ng-bind-html="chgPassword.errMsg"></span>
                </div>
            </div>
            <div class="chg-pwd-input row">
                <div class="col-md-4 chg-pwd-label">
                    {{translation.emailID}}
                </div>
                <div class="col-md-5 form-group">
                    <input type="text" class="form-control" class="form-control" ng-model="chgPasswordModel.emailId" autocomplete="off" readonly
                        autofocus /><span ng-bind-html="emailMessage"></span>
                </div>
            </div>
            <div class="chg-pwd-input row">
                <div class="col-md-4 chg-pwd-label">{{translation.oldPassword}}</div>
                <div class="col-md-5 form-group inner-addon-err-msg left-addon">
                    <i ng-show="chgpwdErrorModel.oldPasswordError" class="glyphicon glyphicon-warning-sign"></i>
                    <input type="password" name="oldPwd" class="form-control" ng-class="{'input-type-err':chgpwdErrorModel.oldPasswordError}"
                        ng-keyup="validateKeyUp($event, chgPasswordModel.oldPassword, 40)" class="text-input" id="input-old-pwd"
                        ng-model="chgPasswordModel.oldPassword" min="6" maxlength="40" required />
                        <span class="error-message error-field-msg" ng-show="chgpwdErrorModel.oldPasswordError" ng-bind-html="chgpwdErrorModel.oldPasswordError"></span>
                </div>
            </div>
            <div class="chg-pwd-input row">
                <div class="col-md-4 chg-pwd-label">{{translation.newPassword}}</div>
                <div class="col-md-5 form-group inner-addon-err-msg left-addon">
                    <i ng-show="chgpwdErrorModel.newPasswordError" class="glyphicon glyphicon-warning-sign"></i>
                    <input type="password" name="newPwd" class="form-control" ng-class="{'input-type-err':chgpwdErrorModel.newPasswordError}"
                        ng-keyup="validateKeyUp($event, chgPasswordModel.newPassword, 40)" class="text-input" ng-model="chgPasswordModel.newPassword"
                        min="6" maxlength="40" required />
                    <span class="error-message error-field-msg" ng-show="chgpwdErrorModel.newPasswordError" ng-bind-html="chgpwdErrorModel.newPasswordError"></span>
                </div>
            </div>
            <div class="chg-pwd-input row">
                <div class="col-md-4 chg-pwd-label">{{translation.confirmPassword}}</div>
                <div class="col-md-5 form-group inner-addon-err-msg left-addon">
                    <i ng-show="chgpwdErrorModel.confirmPasswordError" class="glyphicon glyphicon-warning-sign"></i>
                    <input type="password" name="confirmPwd" class="form-control" ng-class="{'input-type-err':chgpwdErrorModel.confirmPasswordError}"
                        ng-keyup="validateKeyUp($event, chgPasswordModel.confirmPassword, 40)" class="text-input" id="input-conf-pwd"
                        ng-model="chgPasswordModel.confirmPassword" min="6" maxlength="40" required />
                    <span class="error-message error-field-msg" ng-show="chgpwdErrorModel.confirmPasswordError" ng-bind-html="chgpwdErrorModel.confirmPasswordError"></span>
                </div>
            </div>
            <div class="chg-pwd-footer row">
                <button class="btn pwd-addbtn" ng-click="changePassword(chgPasswordModel)">{{translation.changePassword}}</button>
            </div>
        </form>
        <div class="pwd-note">
            <label class="pwd-lblNote">{{translation.Note}}</label>
            <span class="pwd-format" ng-show="passwordFormat" ng-bind-html="passwordFormat"></span>
        </div>
    </div>
</div>
