<div class="dashboard-container" ng-controller="dashboardController">
  <h4 class="page-title">{{dashboardLangTranslation.agentDashboard}}</h4>
  <div class="overview-layout">
    <div class="overview-item verticalLine stats-out-calls">
      <div class="dashboard-item-data" ng-click="callChangeFilter(callSummaryDropdown[5].text)">
        <h4>{{reports.numOutgoingCalls}}</h4>
        <label ng-bind="dashboardLangTranslation.outgoingCallsDashItemName"></label>
      </div>
      <div class="icon">
        <img class=" dashboard-item-icon" src="images/dashboard_icons/outgoing_call_icon.png" />
      </div>
    </div>
    <div class="empty-cell"></div>
    <div class="overview-item verticalLine stats-missed-calls">
      <div class="dashboard-item-data" ng-click="callChangeFilter(callSummaryDropdown[3].text)">
        <h4>{{reports.numberOfMissedCalls}}</h4>
        <label ng-bind="dashboardLangTranslation.missedCallDashItemName"></label>
      </div>
      <div class="icon">
        <img class="dashboard-item-icon" src="images/missed-call.png" />
      </div>
    </div>
    <div class="empty-cell"></div>
    <div class="overview-item verticalLine stats-in-calls">
      <div class="dashboard-item-data" ng-click="callChangeFilter(callSummaryDropdown[2].text)">
        <h4>{{reports.numberIncomingCalls}}</h4>
        <label ng-bind="dashboardLangTranslation.incomingCallsDashItemName"></label>
      </div>
      <div class="icon">
        <img class=" dashboard-item-icon" src="images/dashboard_icons/incoming_call_icon.png" />
      </div>
    </div>
    <div class="empty-cell"></div>
    <div class="overview-item verticalLine stats-long-duration">
      <div class="dashboard-item-data">
        <h4>{{reports.longestCallDuration}}</h4>
        <label>{{dashboardLangTranslation.longestCallDurationDashItemName}}</label>
      </div>
      <div class="icon">
        <img class=" dashboard-item-icon" src="images/dashboard_icons/duration_icon.png" />
      </div>
    </div>
    <div class="empty-cell"></div>
    <div class="overview-item verticalLine stats-avg-time">
      <div class="dashboard-item-data">
        <h4>{{reports.avgTaskAccTime}}</h4>
        <label ng-bind="dashboardLangTranslation.avgTaskAcceptTimeDashItemName"></label>
      </div>
      <div class="icon">
        <img class=" dashboard-item-icon" src="images/dashboard_icons/task_icon.png" />
      </div>
    </div>
  </div>
  <div id="elevatordetail-container">
    <!-- Elevator Details controls -->
    <div class="callsummary-controls" ng-init="clicked=1">
      <div>
        <h5>{{dashboardLangTranslation.callsummary}}</h5>
      </div>
      <button ng-class="{'btn-small today-btn': true, 'active': clicked == 1}" ng-click="clicked=1;todaysDate();">{{dashboardLangTranslation.btnToday}}</button>
      <button ng-class="{'btn-small prvus-btn': true, 'active': clicked == 0}" ng-click="clicked=0;previousDate();">{{dashboardLangTranslation.btnPrevious}}</button>
      <div class="search-input ">
        <input class="inp-form-control form-control" ng-model="search.searchText"/>
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <select class="call-filter-dropdown" ng-model="selectedCallFilter" ng-init="selectedCallFilter = callSummaryDropdown[0].text"
        ng-change="callChangeFilter(selectedCallFilter)">
        <option ng-repeat="callFilter in callSummaryDropdown" value="{{callFilter.text}}">{{dashboardLangTranslation[callFilter.text]}}</option>
      </select>
    </div>
    <div class="vertical-space">
    </div>
    <!-- Elevator Details Table Starts -->
    <div id="call-summary-table">
      <div class="table-row table-header">
        <div class="table-head" ng-click="sortUsers('elevatorUnitId')">
          <strong ng-bind="dashboardLangTranslation.elevatorIdTbHeader"></strong>
        </div>
        <div class="table-head break-word" ng-click="sortUsers('lastUpdatedBy')">
          <strong ng-bind="dashboardLangTranslation.lastUpdateByTBHeader"></strong>
        </div>        
        <div class="table-head" ng-click="sortUsers('buildingName')">
          <strong ng-bind="dashboardLangTranslation.buildingNameTbHeader"></strong>
        </div>
        <div class="table-head" ng-click="sortUsers('floorNumber')">
          <strong ng-bind="dashboardLangTranslation.floorDirectionTBHeader"></strong>
        </div>
        <div class="table-head break-word" ng-click="sortUsers('callDisposition')">
          <strong ng-bind="dashboardLangTranslation.calldisposition "></strong>
        </div>
        <div class="table-head" ng-click="sortUsers('createdOn')">
          <!-- <strong ng-bind="dashboardLangTranslation.customernameTBHeader"></strong> -->
          <strong ng-bind="dashboardLangTranslation.createdOn"></strong>
        </div>
        <div class="table-head" ng-click="sortUsers('receivedOn')">
          <!-- <strong ng-bind="dashboardLangTranslation.initator"></strong> -->
          <strong ng-bind="dashboardLangTranslation.assignedOn"></strong>
        </div>
        <div class="table-head" ng-click="sortUsers('startedOn')">
          <!-- <strong ng-bind="dashboardLangTranslation.recivedDateTBHeaded"></strong> -->
          <strong ng-bind="dashboardLangTranslation.connectedOn"></strong>
        </div>
        <div class="table-head" ng-click="sortUsers('completedOn')">
          <!-- <strong ng-bind="dashboardLangTranslation.notes "></strong> -->
          <strong ng-bind="dashboardLangTranslation.completedOn"></strong>
        </div>
      </div>
      <!-- Call Summary Table Starts -->
      <div class="elevator-details">
        <div ng-show="(elevatorDetailsArry[0] | filter: search.searchText).length <= 0"
          class="collapsable-content no-record-found">{{dashboardLangTranslation.noRecordFound}}</div>
        <div class="collapsable-content" ng-repeat="elevatorDetail in filtered = (elevatorDetailsArry[0] | filter: search.searchText)  | orderBy: sortModel.columnName | startFrom:currentPage*pageSize | limitTo:pageSize"
          ng-class="{ 'tw-table':elevatorDetailsArry.length>10,'ex-table':elevatorDetailsArry[0].length
                <=10, 'missed-call': elevatorDetail.startedOn == undefined} ">
          <div class="table-row">
            <div class="table-cell">
              <div class="call-btn" tooltip-placement="bottom" uib-tooltip="{{elevatorDetail.notes}}">
                <div ng-click="callBackElevator(elevatorDetail.elevatorUnitId, 0)" class="format-icon">
                  <img src="../../images/menu_icons/selected_call_elevator.png">
                </div>
                <div class="format-icon-initiator">
                  <img ng-if="elevatorDetail.initiator == 'Agent'" src="../../images/agent-avatar.png">
                  <img ng-if="elevatorDetail.initiator != 'Agent'" src="../../images/elevator.png">
                </div>
                <div ng-click="openViewDetail(elevatorDetail.alarmId)" class="elevator-Id">{{elevatorDetail.elevatorUnitId}}</div>
              </div>
            </div>
            <div class=" table-cell break-word" ng-bind="elevatorDetail.lastUpdatedBy"></div>
            <div class="table-cell " ng-bind="elevatorDetail.buildingName "></div>
            <div class="table-cell">{{elevatorDetail.floorNumber}}
              <span>{{elevatorDetail.direction == "0"? "Down": (elevatorDetail.direction == "1"? "Up": "Stopped")}}</span>
            </div>
            <div class="table-cell break-word" ng-bind="elevatorDetail.callDisposition"></div>
            <div class="table-cell" ng-if="elevatorDetail.createdOn != null" ng-bind="elevatorDetail.createdOn| localeDateTime"></div>
            <div class="table-cell" ng-if="elevatorDetail.createdOn == null" ng-bind="elevatorDetail.receivedOn| localeDateTime"></div>
            <div class="table-cell" ng-bind="elevatorDetail.receivedOn| localeDateTime"></div>
            <div class="table-cell" ng-bind="elevatorDetail.startedOn| localeDateTime"></div>                        
            <div class="table-cell" ng-bind="elevatorDetail.completedOn| localeDateTime"></div>   
            <!-- <div class="table-cell">
              <a tooltip-placement="bottom" uib-tooltip="{{elevatorDetail.notes}}">
                <img ng-show="elevatorDetail.notes" ng-class="{'ctrl-disable': !elevatorDetail.notes}" src="images/note_icon.png" />
              </a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Call Summary Table Ends -->

      <!-- pop up of call back -->
      <div id="call-back" class="my-modal call-back">
        <div id="call-notifi-body" ng-class="{'my-modal-content call-notifi-body': true}">
          <div class="modal-box-title">
            <label class="lblHeading">{{dashboardLangTranslation.callBackTitle}}</label>
            <span ng-show="callbackError" class="modal-close close" ng-click="closeCallBackModal()">&times;</span>
          </div>
          <hr>
          <div>{{dashboardLangTranslation.popupHeader}}: {{callbackElevatorId}}</div>
          <div>
            <span ng-show="!callbackError">{{dashboardLangTranslation.joining}}</span>
            <span ng-show="callbackError">{{callbackError}}</span>
          </div>
          <div class="action-button">
            <button ng-click="closeCallBackModal()" ng-disabled="!callbackError">{{dashboardLangTranslation.ok}}</button>
          </div>
        </div>
      </div>
      <!-- end -->
    </div>
    <!-- Elevator Details Table Ends -->
    <div ng-show="elevatorDetailsArry[0].length > pageSize " class="pre-nxt-div">
      <button type="button" ng-class="{ 'disable-btn':currentPage==0,'btn-prnx':currentPage != 0 }" ng-disabled="currentPage==0"
        ng-click="currentPage=0">
        <span class="glyphicon glyphicon-backward"></span>
      </button>
      <button type="button " ng-class="{ 'disable-btn':currentPage==0, 'btn-prnx':currentPage != 0 }" ng-disabled="currentPage==0"
        ng-click="currentPage=currentPage-1 ">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button> {{dashboardLangTranslation.showing}} {{currentPage+((elevatorDetailsArry[0] | filter: search.searchText).length > 0? 1: 0)}} {{dashboardLangTranslation.of}} {{Math.ceil(filtered.length/10)}}
      {{dashboardLangTranslation.pages}}
      <button type="button" ng-class="{ 'disable-btn':currentPage >= Math.ceil(filtered.length/10) - 1,'btn-prnx': currentPage < Math.ceil(filtered.length/10) - 1}"
        ng-disabled="currentPage >= Math.ceil(filtered.length/10) - 1" ng-disabled="currentPage == Math.ceil(filtered.length/10) - 1"
        ng-click="currentPage=currentPage+1">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <button type="button " ng-class="{ 'disable-btn':currentPage >= Math.ceil(filtered.length/10) - 1,'btn-prnx': currentPage < Math.ceil(filtered.length/10) - 1 }"
        ng-disabled="currentPage >= Math.ceil(filtered.length/10) - 1" ng-click="currentPage =  Math.ceil(filtered.length/10)-1">
        <span class="glyphicon glyphicon-forward"></span>
      </button>
    </div>
  </div>
</div>