
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeDeleteModal(false);" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{menuTranslation.confirmTitle}}</h4>
        </div>
        <div class="modal-body">
            <p>{{menuTranslation.deleteConfirmMsg}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeDeleteModal(false);">{{menuTranslation.cancelbtn}}</button>
            <button type="button" class="btn btn-primary" ng-click="closeDeleteModal(true);">{{menuTranslation.okbtn}} </button>
        </div>
    </div>
