<!--
<div class="top-menu-body">
    <div class="left-top-bar">
        <div class="image-container">
            <img class="dashboard-image" src="../images/dashboard.png" />
        </div>
        <div class="top-menu-heading">{{topBarTitle}}</div>
    </div>
    <div class="right-top-bar">
        <div class="top-menu-lang">
            <select class="top-Lang" ng-model="languageShortName" ng-change="saveLanguage(languageShortName)">
          <option ng-repeat="language in language" value="{{language.shortName}}">{{language.name}}</option>
        </select>
        </div>
        <div class="top-menu-log">
            <img ng-click="logout()" src="../images/log-out.png" />
        </div>
    </div>
</div>-->
